@page {
    size: portrait;
    margin-top: 0.5in;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        -moz-print-color-adjust: exact !important;
        -ms-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    body {
        transform: scale(1);
    }

    .title-bar {
        background-color: #434EA0 !important; 
        color: white !important; 
        font-weight: bold !important; 
        font-size: 20px !important; 
        text-align: center !important; 
        padding: 5px !important; 
        margin-top: 20px !important;
    }

    .mt-3 {
        margin-top: 15px !important;
    }

    .header-bar {
        background-color: #434EA0 !important; 
        color: white !important; 
        width: 100% !important; 
        margin-top: 15px !important; 
        margin-bottom: 15px !important; 
        text-align: center !important;
    }

    .fw-bold {
        font-weight: bold !important;
    }

    .user-table {
        border: 1px solid lightgray !important; 
        border-collapse: collapse !important; 
        width: 100% !important; 
        table-layout: fixed !important;
    }

    .ml-2 {
        margin-left: 20px !important;
    }

    .user-table-td {
        border: 1px solid lightgray !important; 
        padding-left: 10px !important;
    }

    .user-table-label {
        color: gray !important; 
        display: flex !important; 
        justify-content: start !important; 
        text-align: start !important; 
        padding: 20px !important;
    }

    .user-table-label-content {
        width: 100% !important; 
        display: flex !important; 
        justify-content: start !important; 
        text-align: start !important; 
        padding: 20px !important;
    }

    .middle-bar {
        background-color: #434EA0 !important; 
        color: white !important; 
        margin-top: 15px !important; 
        margin-bottom: 15px !important; 
        width: 100% !important;
    }

    .table-details {
        border: 1px solid lightgray !important; 
        border-collapse: collapse !important; 
        width: 100% !important; 
        table-layout: fixed !important; 
        text-align: center
    }

    .table-details-header {
        border: 1px solid lightgray !important; 
        text-align:center !important; 
        color: gray !important; 
        padding: 10px !important;
    }

    .border-1-lightgray {
        border: 1px solid lightgray !important;
    }

    .table-details-label {
        width: 100% !important; 
        display: flex !important; 
        justify-content: center !important;
        text-align: center !important;
        padding: 5px 0 !important;
        min-height: 15px !important;
    }

    .new-page {
        page-break-before: always;
    }

    .line {
        width: 100%;
        border-bottom: 1px solid black; /* Adjust border style as needed */
        margin-bottom: 5px; /* Optional margin for spacing between line and text */
    }
}
